h1 {
    background-image: url('../images/build/2x/logo.png');
    background-size: 100%;
    background-repeat: no-repeat;
}

.post_content .hide_content {
    background-image: url('../images/build/2x/close.png');
    background-size: 100%;
    background-position: 0 0;
}