//---------------------------------------------------
// Transitions
//---------------------------------------------------

@mixin transition_default { @include transition-property(all); @include transition-duration(0.3s); @include transition-timing-function(ease-in); }
@mixin garamond-premier-pro-display-light { font-family: "garamond-premier-pro-display", Garamond, Baskerville, "Baskerville Old Face", "Times New Roman", serif; font-weight: 300; }
@mixin garamond-pro-italic { font-family: "adobe-garamond-pro", Garamond, Baskerville, "Baskerville Old Face", "Times New Roman", serif; font-weight: 400; font-style: italic; }