/* line 1, ../sass/_reset.scss */
html, body {
  height: 100%;
}

/* line 1, ../sass/_reset.scss */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, font, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}

/* line 1, ../sass/_reset.scss */
body {
  line-height: 1em;
}

/* line 1, ../sass/_reset.scss */
ol, ul {
  list-style: none;
}

/* line 1, ../sass/_reset.scss */
blockquote, q {
  quotes: none;
}

/* line 1, ../sass/_reset.scss */
blockquote:before, blockquote:after, q:before, q:after {
  content: '';
  content: none;
}

/* line 1, ../sass/_reset.scss */
:focus {
  outline: 0;
}

/* line 1, ../sass/_reset.scss */
ins {
  text-decoration: none;
}

/* line 1, ../sass/_reset.scss */
del {
  text-decoration: line-through;
}

/* line 1, ../sass/_reset.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 1, ../sass/_reset.scss */
a {
  text-decoration: none;
}

/* line 1, ../sass/_reset.scss */
input, textarea {
  border: none;
  outline: none;
  margin: 0;
  padding: 0;
}

/* line 3, ../sass/_reset.scss */
article, aside, figure, footer, header, hgroup, nav, section {
  display: block;
}

/* line 5, ../sass/_reset.scss */
abbr[title] {
  border-bottom: 1px dotted;
  cursor: help;
}

/* line 9, ../sass/_reset.scss */
* {
  -webkit-appearance: none;
  -webkit-text-size-adjust: none;
}

/* line 8, ../sass/_320.scss */
html {
  overflow-y: scroll;
}

/* line 12, ../sass/_320.scss */
body {
  background: url("../images/build/bg_noise.jpg");
}

/* line 16, ../sass/_320.scss */
.wrap {
  margin: 0 auto;
  width: 640px;
}

/* line 21, ../sass/_320.scss */
header, footer {
  text-align: center;
}

/* line 25, ../sass/_320.scss */
header {
  background: rgba(246, 246, 246, 0.8);
  position: fixed;
  height: 200px;
  width: 100%;
  z-index: 4;
}

/* line 33, ../sass/_320.scss */
footer {
  height: 100px;
}

/* line 37, ../sass/_320.scss */
.content_wrap {
  border-bottom: 1px solid #e5e5e5;
  overflow: hidden;
  padding-top: 200px;
}

/* line 47, ../sass/_320.scss */
.hidden {
  display: none;
}

/* line 55, ../sass/_320.scss */
.post_head {
  background: white url("../images/build/bg_noise.jpg");
  border-top: 1px solid #e5e5e5;
  cursor: pointer;
  display: block;
  height: 100px;
  position: relative;
  text-align: center;
  z-index: 2;
  -moz-transition-property: all;
  -webkit-transition-property: all;
  -o-transition-property: all;
  transition-property: all;
  -moz-transition-duration: 0.3s;
  -webkit-transition-duration: 0.3s;
  -o-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -moz-transition-timing-function: ease-in;
  -webkit-transition-timing-function: ease-in;
  -o-transition-timing-function: ease-in;
  transition-timing-function: ease-in;
}

/* line 68, ../sass/_320.scss */
.post_head_active {
  -moz-transition-property: all;
  -webkit-transition-property: all;
  -o-transition-property: all;
  transition-property: all;
  -moz-transition-duration: 0.3s;
  -webkit-transition-duration: 0.3s;
  -o-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -moz-transition-timing-function: ease-in;
  -webkit-transition-timing-function: ease-in;
  -o-transition-timing-function: ease-in;
  transition-timing-function: ease-in;
}

/* line 71, ../sass/_320.scss */
.post_head_active,
.post_head:hover {
  background: #666;
}

/* line 75, ../sass/_320.scss */
.post .post_head .title_wrap {
  display: inline-block;
  position: relative;
}

/* line 80, ../sass/_320.scss */
.post_head .title_wrap h3 {
  color: #bbb;
  display: inline;
  font-family: "Sentinel", "superclarendon", sans-serif;
  font-size: 30px;
  font-weight: 100;
  line-height: 100px;
}

/* line 89, ../sass/_320.scss */
.post_head .title_wrap span {
  bottom: 0;
  position: absolute;
  width: 500px;
}

/* line 95, ../sass/_320.scss */
.img_preview_left .post_head .title_wrap span {
  left: -500px;
}

/* line 99, ../sass/_320.scss */
.img_preview_right .post_head .title_wrap span {
  right: -500px;
}

/* line 103, ../sass/_320.scss */
.post_head .title_wrap span img {
  position: absolute;
  bottom: -100px;
  right: 0;
  z-index: 1;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
  opacity: 0;
  -moz-transition-property: all;
  -webkit-transition-property: all;
  -o-transition-property: all;
  transition-property: all;
  -moz-transition-duration: 0.3s;
  -webkit-transition-duration: 0.3s;
  -o-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -moz-transition-timing-function: ease-in;
  -webkit-transition-timing-function: ease-in;
  -o-transition-timing-function: ease-in;
  transition-timing-function: ease-in;
}

/* line 113, ../sass/_320.scss */
.img_preview_left .post_head .title_wrap img {
  right: 0;
}

/* line 115, ../sass/_320.scss */
.img_preview_right .post_head .title_wrap img {
  left: 0;
}

/* line 120, ../sass/_320.scss */
.img_preview_left .post_head:hover .title_wrap img,
.img_preview_left .post_head_active .title_wrap img,
.img_preview_right .post_head:hover .title_wrap img,
.img_preview_right .post_head_active .title_wrap img {
  bottom: 0;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=10000);
  opacity: 100;
}

/* line 130, ../sass/_320.scss */
.post_content {
  background: #fff;
  position: relative;
  z-index: 2;
}

/* line 141, ../sass/_320.scss */
.informatics .post_head_active,
.informatics .post_head:hover {
  background: aqua;
}
