html, body {
  height: 100%;
}

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, font, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}

body {
  line-height: 1em;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after, q:before, q:after {
  content: '';
  content: none;
}

:focus {
  outline: 0;
}

ins {
  text-decoration: none;
}

del {
  text-decoration: line-through;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

a {
  text-decoration: none;
}

input, textarea {
  border: none;
  outline: none;
  margin: 0;
  padding: 0;
}

article, aside, figure, footer, header, hgroup, nav, section {
  display: block;
}

abbr[title] {
  border-bottom: 1px dotted;
  cursor: help;
}

* {
  -webkit-appearance: none;
  -webkit-text-size-adjust: none;
}

.hidden,
.js h2,
.js .post_content {
  display: none;
}

html {
  color: #666;
  font-family: "Helvetica Neue", Arial, sans-serif;
  font-size: 12px;
  overflow-y: scroll;
}

body {
  background: url("../images/build/bg_noise.jpg");
}

.wrap {
  margin: 0 auto;
  max-width: 670px;
  padding: 0 15px;
}

.content_wrap {
  border-bottom: 1px solid #e5e5e5;
  overflow: hidden;
  padding-top: 64px;
}

header {
  background: rgba(246, 246, 246, 0.8);
  position: fixed;
  text-align: center;
  height: 64px;
  width: 100%;
  z-index: 100;
}

h1 {
  background: url("../images/build/png_master_sprite.png") 0 0;
  display: block;
  height: 0;
  margin: 14px auto 0 auto;
  overflow: hidden;
  padding-top: 41px;
  width: 126px;
}

footer {
  background: rgba(246, 246, 246, 0.8);
  height: 50px;
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 100;
  font-family: "adobe-garamond-pro", Garamond, Baskerville, "Baskerville Old Face", "Times New Roman", serif;
  font-weight: 400;
  font-style: italic;
}

footer .info {
  color: #0bb6ca;
  font-size: 14px;
  line-height: 16px;
  padding-top: 8px;
  text-align: center;
  font-family: "adobe-garamond-pro", Garamond, Baskerville, "Baskerville Old Face", "Times New Roman", serif;
  font-weight: 400;
  font-style: italic;
}

footer .info li a {
  color: #0bb6ca;
}

.no-touch footer .info li a:hover,
footer .info li a:active {
  color: #0891a1;
  text-decoration: underline;
}

.post_head {
  background: white url("../images/build/bg_noise.jpg");
  border-top: 1px solid #e5e5e5;
  cursor: pointer;
  display: block;
  height: 50px;
  position: relative;
  text-align: center;
  z-index: 2;
}

.post_head_active {
  -moz-transition-property: all;
  -webkit-transition-property: all;
  -o-transition-property: all;
  transition-property: all;
  -moz-transition-duration: 0.3s;
  -webkit-transition-duration: 0.3s;
  -o-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -moz-transition-timing-function: ease-in;
  -webkit-transition-timing-function: ease-in;
  -o-transition-timing-function: ease-in;
  transition-timing-function: ease-in;
}

.post_head_active,
.no-touch .post_head:hover {
  background: #666;
}

.post .post_head .title_wrap {
  display: inline-block;
  position: relative;
}

.post_head .title_wrap h2 {
  color: #666;
  display: inline;
  font-size: 15px;
  line-height: 50px;
  font-family: "garamond-premier-pro-display", Garamond, Baskerville, "Baskerville Old Face", "Times New Roman", serif;
  font-weight: 300;
}

.no-touch .post_head:hover .title_wrap h2,
.post_head_active .title_wrap h2 {
  color: #fff;
  text-shadow: rgba(0, 0, 0, 0.2) -1px -1px 0;
}

.post_head .title_wrap span {
  display: none;
}

.post_content {
  background: #fff;
  position: relative;
  padding-bottom: 15px;
  z-index: 2;
}

.post_content .wrap {
  position: relative;
  padding-top: 13px;
}

.post_content .hide_content {
  background: url("../images/build/png_master_sprite.png") -152px 0;
  cursor: pointer;
  height: 0;
  overflow: hidden;
  padding-top: 9px;
  position: absolute;
  right: 15px;
  top: 15px;
  width: 9px;
}

.no-touch .post_content .hide_content:hover,
.post_content .hide_content:active {
  background-position: -152px -9px;
}

.post_content p {
  border-bottom: 1px solid #e5e5e5;
  line-height: 15px;
  margin: 0 0 15px 0;
  padding: 0 40px 10px 0;
}

.post_content .img_list li {
  border-top: 1px solid #e5e5e5;
  margin: 15px 0 0 0;
  padding: 15px 0 0 0;
}

.post_content .img_list li:first-child {
  border-top: none;
  margin: 0;
  padding: 0;
}

.post_content .img_list li img {
  display: block;
  width: 100%;
  -moz-box-shadow: rgba(0, 0, 0, 0.12) 0 3px 7px;
  -webkit-box-shadow: rgba(0, 0, 0, 0.12) 0 3px 7px;
  -o-box-shadow: rgba(0, 0, 0, 0.12) 0 3px 7px;
  box-shadow: rgba(0, 0, 0, 0.12) 0 3px 7px;
}

.v26 .post_head_active,
.v26 .post_head:active,
.no-touch .v26 .post_head:hover {
  background: #595959;
}

.informatics .post_head_active,
.informatics .post_head:active,
.no-touch .informatics .post_head:hover {
  background: #ff0000;
}

.fight_for_fandom .post_head_active,
.fight_for_fandom .post_head:active,
.no-touch .fight_for_fandom .post_head:hover {
  background: #ffd200;
}

.travel_app .post_head_active,
.travel_app .post_head:active,
.no-touch .travel_app .post_head:hover {
  background: #00a2bd;
}

.delta_gold .post_head_active,
.delta_gold .post_head:active,
.no-touch .delta_gold .post_head:hover {
  background: #e31836;
}

.cash_tracker .post_head_active,
.cash_tracker .post_head:active,
.no-touch .cash_tracker .post_head:hover {
  background: #0c83cc;
}

.clear_channel_radio .post_head_active,
.clear_channel_radio .post_head:active,
.no-touch .clear_channel_radio .post_head:hover {
  background: #e10019;
}

.clear_channel_outdoor .post_head_active,
.clear_channel_outdoor .post_head:active,
.no-touch .clear_channel_outdoor .post_head:hover {
  background: #026390;
}

.ocelo .post_head_active,
.ocelo .post_head:active,
.no-touch .ocelo .post_head:hover {
  background: #ec008c;
}

@media only screen and (min-width: 768px) {
  .content_wrap {
    padding-top: 200px;
  }

  header {
    height: 200px;
    position: absolute;
    z-index: 1;
  }

  h1 {
    margin: 80px auto 0 auto;
  }

  footer {
    position: relative;
    z-index: 1;
  }

  .post_head {
    height: 100px;
  }

  .post_head .title_wrap h2 {
    color: #bbb;
    font-size: 30px;
    line-height: 100px;
  }

  .no-touch .post_head:hover .title_wrap h2,
  .post_head_active .title_wrap h2 {
    color: #fff;
    text-shadow: rgba(0, 0, 0, 0.2) -1px -1px 0;
  }

  .post_head .title_wrap span {
    bottom: 0;
    display: block;
    position: absolute;
    width: 500px;
  }

  .img_preview_left .post_head .title_wrap span {
    left: -500px;
  }

  .img_preview_right .post_head .title_wrap span {
    right: -500px;
  }

  .post_head .title_wrap span img {
    position: absolute;
    bottom: -100px;
    right: 0;
    z-index: 1;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
    opacity: 0;
    -moz-transition-property: all;
    -webkit-transition-property: all;
    -o-transition-property: all;
    transition-property: all;
    -moz-transition-duration: 0.3s;
    -webkit-transition-duration: 0.3s;
    -o-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -moz-transition-timing-function: ease-in;
    -webkit-transition-timing-function: ease-in;
    -o-transition-timing-function: ease-in;
    transition-timing-function: ease-in;
  }

  .img_preview_left .post_head .title_wrap img {
    right: 0;
  }

  .img_preview_right .post_head .title_wrap img {
    left: 0;
  }

  .no-touch .img_preview_left .post_head:hover .title_wrap img,
  .img_preview_left .post_head_active .title_wrap img,
  .no-touch .img_preview_right .post_head:hover .title_wrap img,
  .img_preview_right .post_head_active .title_wrap img {
    bottom: 0;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=10000)";
    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=10000);
    opacity: 100;
  }

  .post_content {
    padding-bottom: 30px;
  }

  .post_content .wrap {
    padding-top: 26px;
  }

  .post_content .hide_content {
    background: url("../images/build/png_master_sprite.png") -128px 0;
    padding-top: 19px;
    position: absolute;
    right: 15px;
    top: 30px;
    width: 19px;
  }

  .no-touch .post_content .hide_content:hover,
  .post_content .hide_content:active {
    background-position: -128px -19px;
  }

  .post_content p {
    line-height: 18px;
    margin: 0 0 30px 0;
    padding: 0 80px 30px 0;
  }

  .post_content .img_list li {
    margin: 30px 0 0 0;
    padding: 30px 0 0 0;
  }

  footer {
    height: 100px;
  }

  footer .info {
    font-size: 16px;
    line-height: 20px;
    padding-top: 30px;
  }
}
@media only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (min-device-pixel-ratio: 2) {
  h1 {
    background-image: url("../images/build/2x/logo.png");
    background-size: 100%;
    background-repeat: no-repeat;
  }

  .post_content .hide_content {
    background-image: url("../images/build/2x/close.png");
    background-size: 100%;
    background-position: 0 0;
  }
}
